---
import { Icon } from 'astro-icon/components';
---

<aside class="h-full w-72 flex flex-col border-r border-border bg-card text-card-foreground">
<header class="border-b border-border px-5 py-4 grid grid-cols-[auto_1fr] grid-rows-2 gap-x-3 items-center">
    <span class="flex size-8 items-center justify-center rounded-lg bg-primary text-primary-foreground row-span-2">
    <Icon name="lucide:layers" class="size-4"/>
    </span>
    <h1 class="text-sm font-semibold text-foreground">@mauroviveros/ui</h1>
    <p class="text-xs text-muted-foreground">Design System</p>
</header>
</aside>