---
import Layout from "@layout";
import Preview from "@components/Preview.astro";
import Canvas from "@components/Canvas.astro";
import { Button } from "@mauroviveros/ui";
---

<Layout>
  <Preview name="Button" category="Actions" icon="lucide:mouse-pointer-click">
    <Canvas>
      <Button>Click me</Button>
    </Canvas>
  </Preview>
</Layout>
