---
import Layout from "@layout";
import Preview from "@components/Preview.astro";
import Canvas from "@components/Canvas.astro";
import { Button as Btn } from "@mauroviveros/ui";
---

<Layout>
  <Preview name="Button" category="Actions" icon="lucide:mouse-pointer-click">
    <Canvas>
      <div class="grid grid-cols-3 gap-x-2 gap-y-4">
        <!-- PRIMARY -->
        <div class="flex items-center justify-center gap-2">
          <Btn color="primary" variant="solid" size="xs">Click me</Btn>
          <Btn color="primary" variant="solid" size="sm">Click me</Btn>
          <Btn color="primary" variant="solid" size="base">Click me</Btn>
          <Btn color="primary" variant="solid" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="primary" variant="outline" size="xs">Click me</Btn>
          <Btn color="primary" variant="outline" size="sm">Click me</Btn>
          <Btn color="primary" variant="outline" size="base">Click me</Btn>
          <Btn color="primary" variant="outline" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="primary" variant="ghost" size="xs">Click me</Btn>
          <Btn color="primary" variant="ghost" size="sm">Click me</Btn>
          <Btn color="primary" variant="ghost" size="base">Click me</Btn>
          <Btn color="primary" variant="ghost" size="lg">Click me</Btn>
        </div>

        <!-- SECONDARY -->
        <div class="flex items-center justify-center gap-2">
          <Btn color="secondary" variant="solid" size="xs">Click me</Btn>
          <Btn color="secondary" variant="solid" size="sm">Click me</Btn>
          <Btn color="secondary" variant="solid" size="base">Click me</Btn>
          <Btn color="secondary" variant="solid" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="secondary" variant="outline" size="xs">Click me</Btn>
          <Btn color="secondary" variant="outline" size="sm">Click me</Btn>
          <Btn color="secondary" variant="outline" size="base">Click me</Btn>
          <Btn color="secondary" variant="outline" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="secondary" variant="ghost" size="xs">Click me</Btn>
          <Btn color="secondary" variant="ghost" size="sm">Click me</Btn>
          <Btn color="secondary" variant="ghost" size="base">Click me</Btn>
          <Btn color="secondary" variant="ghost" size="lg">Click me</Btn>
        </div>

        <!-- ACCENT -->
        <div class="flex items-center justify-center gap-2">
          <Btn color="accent" variant="solid" size="xs">Click me</Btn>
          <Btn color="accent" variant="solid" size="sm">Click me</Btn>
          <Btn color="accent" variant="solid" size="base">Click me</Btn>
          <Btn color="accent" variant="solid" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="accent" variant="outline" size="xs">Click me</Btn>
          <Btn color="accent" variant="outline" size="sm">Click me</Btn>
          <Btn color="accent" variant="outline" size="base">Click me</Btn>
          <Btn color="accent" variant="outline" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="accent" variant="ghost" size="xs">Click me</Btn>
          <Btn color="accent" variant="ghost" size="sm">Click me</Btn>
          <Btn color="accent" variant="ghost" size="base">Click me</Btn>
          <Btn color="accent" variant="ghost" size="lg">Click me</Btn>
        </div>

        <!-- DESTRUCTIVE -->
        <div class="flex items-center justify-center gap-2">
          <Btn color="destructive" variant="solid" size="xs">Click me</Btn>
          <Btn color="destructive" variant="solid" size="sm">Click me</Btn>
          <Btn color="destructive" variant="solid" size="base">Click me</Btn>
          <Btn color="destructive" variant="solid" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="destructive" variant="outline" size="xs">Click me</Btn>
          <Btn color="destructive" variant="outline" size="sm">Click me</Btn>
          <Btn color="destructive" variant="outline" size="base">Click me</Btn>
          <Btn color="destructive" variant="outline" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="destructive" variant="ghost" size="xs">Click me</Btn>
          <Btn color="destructive" variant="ghost" size="sm">Click me</Btn>
          <Btn color="destructive" variant="ghost" size="base">Click me</Btn>
          <Btn color="destructive" variant="ghost" size="lg">Click me</Btn>
        </div>

        <!-- MUTED -->
        <div class="flex items-center justify-center gap-2">
          <Btn color="muted" variant="solid" size="xs">Click me</Btn>
          <Btn color="muted" variant="solid" size="sm">Click me</Btn>
          <Btn color="muted" variant="solid" size="base">Click me</Btn>
          <Btn color="muted" variant="solid" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="muted" variant="outline" size="xs">Click me</Btn>
          <Btn color="muted" variant="outline" size="sm">Click me</Btn>
          <Btn color="muted" variant="outline" size="base">Click me</Btn>
          <Btn color="muted" variant="outline" size="lg">Click me</Btn>
        </div>
        <div class="flex items-center justify-center gap-2">
          <Btn color="muted" variant="ghost" size="xs">Click me</Btn>
          <Btn color="muted" variant="ghost" size="sm">Click me</Btn>
          <Btn color="muted" variant="ghost" size="base">Click me</Btn>
          <Btn color="muted" variant="ghost" size="lg">Click me</Btn>
        </div>
      </div>

    </Canvas>
  </Preview>
</Layout>
