---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'section'> {
  variant?: 'default';
}

const VARIANT_CLASSES = {
  default: 'text-card-foreground rounded-lg border shadow-sm'
}

const { variant = 'default', class: className, ...props } = Astro.props;
const classes = [
  VARIANT_CLASSES[variant],
  className,
]
---
<section class:list={classes} {...props}>
  <slot />
</section>
