---
import { Icon } from "astro-icon/components";
import { Button } from "@mauroviveros/ui";
---

<article class="flex flex-col border-t border-border bg-card text-card-foreground">
  <header class="flex items-center justify-between border-b border-border px-5 py-3">
    <h3 class="flex items-center gap-2 text-sm font-semibold">
      <Icon name="lucide:sliders-horizontal" class="text-primary" />
      Props Controls
    </h3>

    <Button variant="ghost" size="xs" color="muted">
      <Icon name="lucide:rotate-ccw"/>
      Reset
    </Button>
  </header>

  <slot/>
</article>
